.my-list-box {
    position: relative;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--theme-bg-10);
    cursor: default;
    grid-template-columns: 40px auto 20px;
    grid-template-rows: 25px 15px;
    margin: 10px 0px 0px 0px;
}

.my-list-box>p2 {
    display: block;
    position: relative;
    font-size: 17px;
    font-family: yuanshen;
    color: var(--theme-color-10);
    margin: 2px 0px 2px 5px;
    cursor: pointer;
    width: fit-content;
    height: 25px;
}

.my-list-box>p3 {
    display: block;
    position: relative;
    font-size: 12px;
    font-family: yuanshen;
    color: var(--theme-color-10);
    width: fit-content;
    height: 25px;
    margin: 0px 0px 0px 5px;
}

.list-img {
    grid-area: 1/1 / 3/2;
    padding: 5px;
    cursor: pointer;
}

.list-img:hover .list-icon-hover {
    display: block;
}

.list-img:hover .list-icon-static {
    display: none;
}

.list-icon-static {
    display: block;
}

.list-icon-hover {
    display: none;
}

.list-icon-on {
    display: none;
}

.list-inf {
    grid-area: 1/3 / 3/4;
    box-sizing: border-box;
    border: none;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    width: 20px;
    height: 40px;
    margin: 0px;
    border-radius: 5px;
    background-color: #00000000;
    transition: .2s;
}

.list-more-icon-i {
    fill: var(--theme-color-10);
}

.list-inf:hover {
    background-color: var(--theme-color-01);
    transition: .2s;
}

.list-inf:active {
    background-color: var(--theme-color-02);
    transition: .2s;
}