:root {
    --h: 3;         --w: 35%;       --b: 5%;
    --a: .4;
    --theme-color-10:       hwb(var(--h) var(--w)   var(--b)       );
    --theme-color-08:       hwb(var(--h) var(--w)   var(--b) / 0.8 );
    --theme-color-06:       hwb(var(--h) var(--w)   var(--b) / 0.6 );
    --theme-color-04:       hwb(var(--h) var(--w)   var(--b) / var(--a));/*sdr*/
    --theme-color-03:       hwb(var(--h) var(--w)   var(--b) / 0.3 );
    --theme-color-02:       hwb(var(--h) var(--w)   var(--b) / 0.2 );
    --theme-color-01:       hwb(var(--h) var(--w)   var(--b) / 0.1 );

    --theme-bg-10: #fff;
    --theme-bg-09: #ffffffe6;
    --theme-bg-85: #ffffffc4;
    --theme-bg-08: #ffffffcc;
    --theme-negative-10: #000;
    --theme-negative-04: #00000040;

    --theme-gray:#c4c4c4;

    --img-bg-brightness: 85%;
    --img-bg-blur: 20px;

    --sd-filter-blur: none;
}
html[data-theme = 'dark']{
    --h: 3;         --w: 35%;       --b: 5%;
    --a: .4;
    --theme-color-10:       hwb(var(--h) var(--w)   var(--b)       );
    --theme-color-08:       hwb(var(--h) var(--w)   var(--b) / 0.8 );
    --theme-color-06:       hwb(var(--h) var(--w)   var(--b) / 0.6 );
    --theme-color-04:       hwb(var(--h) var(--w)   var(--b) / var(--a) );
    --theme-color-03:       hwb(var(--h) var(--w)   var(--b) / 0.3 );
    --theme-color-02:       hwb(var(--h) var(--w)   var(--b) / 0.2 );
    --theme-color-01:       hwb(var(--h) var(--w)   var(--b) / 0.1 );

    --theme-bg-10: #3b3b3b;
    --theme-bg-09: #494949e6;
    --theme-bg-85: #494949d0;
    --theme-bg-08: #494949cc;
    --theme-negative-10: #fff;
    --theme-negative-04: #FFFFFF60;

    --theme-gray: #c9c9c9;

    --img-bg-brightness: 45%;
    --img-bg-blur: 40px;

    --sd-filter-blur: none;
}