body {
    position: absolute;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70px auto;
    width: 100%;
    height: 100%;
    margin: 0px;
    backdrop-filter: blur(40px) brightness(var(--img-bg));
    background-size: 100%, 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    position: relative;
    grid-column: 1/3;
    top: 0px;
    left: 0px;
    width: 100% - 14px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    background-color: var(--theme-bg-85);
    border-radius: 10px;
    box-shadow: 0px 3px 15px var(--theme-color-04);
}

.title-Box {
    float: left;
    width: 200px;
    padding: 7.5px;
    font-family: ITCEDSCR;
    font-size: 30px;
    color: var(--theme-color-10);
    cursor: default;
}

.title-button-box {
    position: relative;
    box-sizing: border-box;
    float: right;
    right: 0px;
    width: 100px;
    height: 50px;
    padding: 7px 12.5px 7px 12.5px;
}

.title-button-shader {
    position: relative;
}

.button-shader {
    position: absolute;
    height: 36px;
    width: 36px;
    left: 12.5px;
    background-color: var(--theme-color-03);
    border-radius: 10px;
    transition: ease .2s;
}

.ico-Box {
    position: relative;
    float: right;
    right: 0px;
    margin: 5.5px;
    cursor: pointer;
}

#setting {
    margin: 5.5px 5.5px 5.5px 8.5px;
}

@keyframes rz {
    25% {
        transform: rotate(13.5deg);
    }

    75% {
        transform: rotate(-11.5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.button-detail {
    fill: var(--theme-color-10);
}

.list-icon:hover {
    animation: rz .4s .1s;
}

.list-icon:hover .button-detail {
    fill: var(--theme-color-10-l);
    transition: all .2s;
}

.button-detail {
    transition: all .2s;
}

.setting-icon:hover {
    transform: rotate(60deg);
    transition: all .4s;
}

.setting-icon:hover .button-detail {
    fill: var(--theme-color-10-l);
    transition: all .2s;
}

.setting-icon {
    transition: all .4s;
}

.show-zone {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% auto;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--theme-bg-85);
    box-shadow: 0px 3px 15px var(--theme-color-04);
    border-radius: 10px;
}

.show-box-all {
    display: grid;
    grid-template-columns: 20% auto 20%;
    position: relative;
    width: 100%;
    height: 100%;
}

.function-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.function-button-left {
    position: relative;
    width: 25px;
    height: 25px;
    float: left;
    padding: 0px;
    border-style: none;
    background-color: #00000000;
    cursor: pointer;
}

.function-button-right {
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
    padding: 0.5px;
    border-style: none;
    background-color: #00000000;
    cursor: pointer;
}

.love-icon {
    position: relative;
    display: block;
    margin: 0px;
}

.function-button-style {
    fill: var(--theme-color-08);
}

.function-button-left:hover .function-button-style {
    fill: var(--theme-color-10)
}

.function-button-right:hover .function-button-style {
    fill: var(--theme-color-10)
}

.inf-icon {
    display: block;
    margin: 0px
}

.image-shader {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 20px var(--theme-color-06);
}

.text-box {
    position: absolute;
    width: 100%;
    height: auto;
    top: 70%;
    cursor: default;
}

.text-box>h1 {
    font-family: yuanshen;
    color: var(--theme-color-10);
    text-align: center;
    margin: 0px;
}

.text-box>p {
    font-family: yuanshen;
    color: var(--theme-color-10);
    text-align: center;
    margin: 12px 0px 0px 0px;
}

.music-dock {
    margin: 10px 0px 0px 0px;
    position: relative;
    display: grid;
    grid-template-columns: 162px auto 54px;
    grid-template-rows: auto;
    box-sizing: border-box;
    height: 60px;
    left: 0;
    background-color: var(--theme-bg-85);
    box-shadow: 0px 3px 15px var(--theme-color-04);
    border-radius: 10px;
    padding: 3px 7px 3px 7px;
    transition: .3s;
}

.line-box {
    padding: 7px;
    position: relative;
}

.line-bar {
    display: block;
    height: 40px;
    width: 100%;
    padding: 17px 17px 17px 17px;
    box-sizing: border-box;
    cursor: pointer;
    border-style: solid;
    border-color: var(--theme-color-08);
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px var(--theme-color-04)
}

.dot {
    position: absolute;
    right: 0px;
    width: 0%;
}

.dot-ico {
    display: block;
    position: absolute;
    right: -7.5px;
    top: -5.5px;
    transition: all .2s;
}

.dot-dot {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6px;
    top: -5.5px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px #8c8c8c;
}

.line-bar:hover .dot-ico {
    width: 25px;
    height: 25px;
    top: -10.5px;
    right: -12.5px;
    transition: all .2s;
}

.line {
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #cacaca;
    border-radius: 2px;
}

#pro-line-pass {
    width: 30%;
    background-color: var(--theme-color-08);
}

.music-button {
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px;
    margin: 7px;
    border: none;
    border-radius: 50%;
    background-color: var(--theme-color-10-l);
    cursor: pointer;
    box-shadow: 0px 4px 10px var(--theme-color-04)
}

.music-button:hover {
    background-color: var(--theme-color-10-l2);
    transition: all .2s;
}

.music-button {
    transition: all .2s;
}

.inbutton {
    display: block;
    width: 20px;
    height: 20px;
}

.volumn-box {
    position: relative;
    box-sizing: border-box;
    padding: 7px;
    height: 100%;
    width: 100%;
}

#volumn-button {
    margin: 0;
    box-shadow: none;
    z-index: 10;
}

.volumn-line-bar {
    display: block;
    height: 40px;
    width: 100%;
    padding: 17px 17px 17px 21px;
    box-sizing: border-box;
    cursor: pointer;
    border-style: solid;
    border-color: var(--theme-color-10);
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px var(--theme-color-04);
    transition: .4s;
}

.volumn-line {
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background-color: #cacaca;
    border-radius: 2px;
}

#volumn-line-pass {
    width: 70%;
    background-color: var(--theme-color-08);
}

.pad {
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px 10px 10px 10px;
}

.pad2-shader {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 10px 7px 10px;
    background-color: var(--theme-bg-85);
    border-radius: 10px;
    box-shadow: 0px 3px 15px var(--theme-color-04);
    transition: .2s;
}

#Player {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 70px;
    padding: 0px 2px 10px 10px;
}

.pad2-box {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

#setting-shader {
    display: none;
}

.pad2-head {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    cursor: default;
}

.pad2-title {
    margin: 7px 7px 7px 7px;
    font-size: 22px;
    font-family: yuanshen;
    color: var(--theme-color-10);
}

.linefect {
    background: linear-gradient(to right, var(--theme-color-10-l), var(--theme-color-10-l)) no-repeat right bottom;
    background-size: 0px 2px;
    transition: background-size .3s;
}

.linefect:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}

.setting-box-01 {
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 78px;
    /*76px*/
    padding: 10px;
    margin: 15px 0px 0px 0px;
    background-color: var(--theme-bg-10);
    box-shadow: 0px 0px 15px var(--theme-color-03);
    border-radius: 10px;
    transition: .3s;
}

.setting-box-01>p1 {
    display: block;
    color: var(--theme-color-10);
    margin: 2px 0px 2px 0px;
    font-family: yuanshen;
    cursor: default;
}

.color-selector {
    position: relative;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 32px;
    padding: 12px 0px 0px 0px;
    grid-template-columns: repeat(7, 30px) auto 50px;
}

.color-selector>div {
    width: 100%;
    height: 100%
}

.cspan {
    display: block;
    height: 20px;
    width: 20px;
    left: 0px;
    border-radius: 50%;
    cursor: pointer;
}

#cs1 {
    background-color: hwb(3 25% 5%);
}

#cs6 {
    background-color: hwb(275 33% 3%);
}

#cs4 {
    background-color: hwb(118 27% 12%);
}

#cs5 {
    background-color: hwb(228 38% 0%);
}

#cs3 {
    background-color: hwb(48 25% 0%);
}

#cs2 {
    background-color: rgb(255, 145, 72);
}

#cs7 {
    background-color: hwb(337 40% 0%);
}

.cut-rule {
    width: 100%;
    height: 1px;
    margin: 15px 2px 0px 2px;
    background-color: #c9c9c9;
}

.cmore {
    position: relative;
    width: 50px;
    height: 25px;
    padding: 2px 0px 0px 0px;
    top: -2.5px;
    display: block;
    background-color: #e7e7e7;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: yuanshen;
    color: var(--theme-color-10);
}

.cmore:hover {
    background-color: #f2f2f2;
}

.more-color-box {
    display: grid;
    position: relative;
    box-sizing: border-box;
    height: 102px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    grid-template-columns: auto 102px;
    grid-template-rows: 34px 34px 34px;
}

.more-color-box>div {
    box-sizing: border-box;
    display: grid;
    position: absolute;
    width: 100%;
    height: 34px;
    padding: 11px 7px 11px 0px;
    grid-template-columns: 30px auto 50px;
}

.color-line-box1 {
    grid-area: 1/1 / 2/2;
}

.color-line-box2 {
    grid-area: 2/1 / 3/2;
}

.color-line-box3 {
    grid-area: 3/1 / 4/2;
}

.color-showing {
    grid-area: 1/2 / 4/3;
}

.color-showing {
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    height: 82px;
    width: 82px;
    background-color: var(--theme-color-10);
    border-radius: 50%;
    border: 12px solid var(--theme-color-10-l2);
}

.more-color-box>div>span {
    box-sizing: border-box;
    position: relative;
    display: block;
    height: 20px;
    width: 20px;
    top: -4px;
    left: 0px;
    border-radius: 50%;
    border: 1px solid #2e2e2e;
}

.color-line-icoh {
    background-color: hwb(var(--h) 0% 0%);
}

.color-line-icow {
    background-color: white;
}

.color-line-icob {
    background-color: black;
}

.more-color-box>div>div {
    position: relative;
    display: block;
    height: 12px;
    width: 100%;
    border-radius: 6px;
}

.color-line-shaderh {
    background: linear-gradient(in hwb to right, red, green, blue, red);
}

.color-line-shaderw {
    background: linear-gradient(in hwb to right, gray, white);
}

.color-line-shaderb {
    background: linear-gradient(in hwb to right, black, gray);
}

.more-color-box>div>i {
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    top: -2px;
    margin: 0px 0px 0px 7px;
}

.color-line-dot {
    height: 8px;
    width: 8px;
    background-color: #fff;
    margin: 2px;
    border-radius: 50%;
}

#cldot1 {
    position: absolute;
    left: 1%;
}

#cldot2 {
    position: absolute;
    left: 25%;
}

#cldot3 {
    position: absolute;
    right: 5%;
}